<!DOCTYPE html>
<!-- 设置页面语言为中文 -->
<html lang="zh-CN">

<head>
    <!-- 设置页面编码为utf8 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 页面标题 -->
    <title>java版服务端下载</title>
    <!-- 引入bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--引入本页面的css样式-->
    <link href="../css/index.css">
</head>

<body>
    <div id="container">
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <h1 class="text-center">java版服务端下载</h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="release">
                            <h5 class="card-title">正式版下载框</h5>
                            <span v-for="version in versions">
                                <div class="card-text border p-2" id="release" v-if="version.type === 'release'">
                                    <!-- 加入外框的容器 -->
                                    <p class="fs-5 text-muted">{{version.id}}</p>
                                    <a class="btn btn-primary" @click="download(version.url)">下载</a>
                                </div>
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body" id="snapshot">
                            <h5 class="card-title">预览版下载框</h5>
                            <span v-for="(version, key) in versions">
                                <div class="card-text border p-2" id="snapshot" v-if="version.type === 'snapshot'">
                                    <!-- 加入外框的容器 -->
                                    <p class="fs-5 text-muted">{{version.id}}</p>
                                    <a class="btn btn-primary" @click="toDownload(version.url)">下载</a>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 引入vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- 引入axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入本页面的js文件 -->
    <script src="../js/index.js"></script>

</body>

</html>